<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualizations</title>
    <link rel="stylesheet" href="./static/css/style.css">
    <link rel="stylesheet" href="./static/css/glide.core.min.css">
    <link rel="stylesheet" href="./static/css/glide.theme.min.css">
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
</head>
<body style ='background:rgb(43, 107, 98)'>
    <div class="container">
        <div class="jumbotron text-center">
            <h1>PetPal Match: Connecting Hearts and Paws</h1>
            <h2>Animal Services & Adoption Center</h2><br>
            <h3>Data Visualizations</h3>
        </div>
        <!-- Add more content here -->
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="./static/js/script.js"></script>
        <script src="./static/js/graphs.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    </div>
</body>
</html>